In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/tweet_emotions.csv")
df.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   40000 non-null  int64
 1   sentiment  40000 non-null  object
 2   content    40000 non-null  object
dtypes: int64(1), object(2)
memory usage: 937.6+ KB

In [4]:
df.isnull().sum()

tweet_id     0
sentiment    0
content      0
dtype: int64

## We dont need the tweet_id

In [5]:
df.drop(columns=['tweet_id'],inplace=True)

In [6]:
df.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

## Changing sentiment to numeric labels

In [7]:
df.drop(df[df['sentiment'] == 'empty'].index,inplace=True)

In [8]:
df['sentiment'].value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [9]:
df['sentiment'].unique()

array(['sadness', 'enthusiasm', 'neutral', 'worry', 'surprise', 'love',
       'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [10]:
sentiment_mapping={
    'sadness':0,
    'worry':1,
    'anger':2,
    'hate':2,
    'neutral':3,
    'boredom':3,
    'enthusiasm':4,
    'surprise':4,
    'fun':4,
    'relief':5,
    'love':6,
    'happiness':7
}

In [11]:
df.replace({"sentiment": sentiment_mapping},inplace=True)
df.head()

   sentiment                                            content
1          0  Layin n bed with a headache  ughhhh...waitin o...
2          0                Funeral ceremony...gloomy friday...
3          4               wants to hang out with friends SOON!
4          3  @dannycastillo We want to trade with someone w...
5          1  Re-pinging @ghostridah14: why didn't you go to...

In [12]:
df['sentiment'].value_counts()

3    8817
1    8459
7    5209
0    5165
4    4722
6    3842
5    1526
2    1433
Name: sentiment, dtype: int64